* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
}

h1 {
  font-size: 1.2rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  background-color: black;
  padding: 0 1rem 1rem;
  height: 100dvh;
  overflow: scroll;
}

/* Login Componente */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 5rem;
}

.login-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: aquamarine;
}

.login-label {
  font-size: 0.8rem;
  align-self: flex-start;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.submit-btn {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: aquamarine;
  color: #333;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
}

.submit-btn:hover {
  background-color: #ff6f00;
  color: aquamarine;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: self-end;
  border-bottom: 2px solid aquamarine;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  width: min(90%, 900px);
  background-color: black;
}

.header-img {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 1rem;
  margin-top: 10px;
}
.header-img img {
  width: auto;
  height: 40px;
}

.btn-resetear {
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #333;
  border: 1px solid #ff6f00;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
}

.btn-resetear:hover {
  background-color: #ff6f00;
  color: #333;
}

.btn {
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #ff6f00;
  color: #333;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
}

.btn:hover {
  background-color: #333;
  color: white;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-top: 9rem;
  margin-bottom: 3rem;
  gap: 1rem;
}

.chat-assistant,
.chat-user {
  padding: 1rem;
  border-radius: 20px;
  max-width: 80%;
}
.chat-assistant {
  background-color: aquamarine;
  align-self: flex-start;
  color: #333;
  border-bottom-right-radius: 0px;
}
.chat-user {
  background-color: #333;
  align-self: flex-end;
  color: aquamarine;
  border-top-left-radius: 0px;
}

.footer-container {
  margin-top: auto;
  width: min(90%, 900px);
  position: fixed;
  bottom: 0;
}
.enviar-mensaje-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.enviar-mensaje-input {
  width: 100%;
  padding: 0.7rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  background-color: #333;
  color: aquamarine;
  border: 1px solid aquamarine;
}

.enviar-mensaje-btn {
  padding: 0.5rem 1.5rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background-color: #333;
  color: aquamarine;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
}
